* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
/* scroll */

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

body::-webkit-scrollbar-thumb {
  background-color: #f1c383;
  border-radius: 100px;
}
/*  Main */
.container {
  background-color: #ecd5ac;
}
nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 45px;
  color: #000;
}
.title span {
  color: #e69c2d;
}
a {
  height: 1.8rem;
  width: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
  text-decoration: none;
  font-weight: bolder;
}
a i {
  margin-left: 5px;
}
figcaption {
  width: 100%;
  object-fit: cover;
}
figcaption img {
  width: 100%;
}
/* Search section */
#Search {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#Search p {
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 15rem;
}
label {
  font-weight: bold;
  font-size: 1.2rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px;

}
input {
  width: 3rem;
  height: 3rem;
  border-radius: 5px;
  padding: 5px;
  border: 2px solid #e69c2d;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;

}
#SearchBtn{
  width: 10rem;
  height: 2rem;
  background-color: #000;
  color: #fff;
}
#SearchBtn:hover{
  transition-duration: .5s;
  background-color: rgb(116, 91, 11);
  color: #000;
}
/*  Cards  */
.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 20px 0;
}
.card {
  width: 30%;
  height: auto;
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 50px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.historyTitle {
  color: #9e532e;
  font-weight: bold;
  font-size: 22px;
}
.historyText {
  padding: 5px;
  line-height: 1.6;
  color: #602508;
}
.historyLink {
  cursor: pointer;
  color: #602508;
  width:100%;
}
@media (max-width: 700px) {
  #Search {
    width: 100%;
  }
  #Search p {
    font-size: 1rem;
  }
  .cards-container {
    flex-direction: column;
  }
  .card {
    width: 80%;
    margin: 20px auto;
  }
}
